<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

<!-- Here instead of name we can also use index tag to inject the values in the data members.(Given below)-->

	<bean class="com.springcore.ci_ambiguity.Person" name="person" >
		<constructor-arg type="int" value="123" index="0"/>
		<constructor-arg type="int" value="234" index="1"/>
	</bean>
</beans>